<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forms</title>
</head>
<body>
  <h1>form 처리</h1>
  <form action="/processor" method="POST">
    <label for="first">First Name</label>
    <input type="text" name="firstName" id="first">
    <label for="last">Last Name</label>
    <input type="text" name="lastName" id="last">
    <input type="submit">  
  </form>
</body>
</html>