<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Processor</title>
</head>
<body>

<label for="name-select">Choose what you wanted to call :</label>  
<select name="nameSelect" id="name-select">
  <option value="">--Please choose a name--</option>
  <option value="fn">{{.FirstName}}</option>
  <option value="ln">{{.LastName}}</option>
</select>


</body>
</html>