Name: {{.Name}},
Email: {{.Email}},
{{if .IsOld -}}
Old Age: {{.Age}}
{{else -}}
Age: {{.Age}}
{{- end}}
<a href="/user?email={{.Email}}">user</a>
<script>
var email={{.Email}}
var age={{.Age}}
var name={{.Name}}
</script>